<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"4d4dcc0345236e6f5d53d2fa952b83b3",petok:"2f66511a6f62b30343ad71ca49dcf821368fd769-1501530429-1800",zone:"colorlib.com",rocket:"a",apps:{}}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js"><'+'\/script>');}}catch(e){};
//]]>
</script>
<link href="/cdn/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/cdn/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/cdn/vendor/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/cdn/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/cdn/assets/css/custom.min.css" rel="stylesheet">
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/board/" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
{% include "basics/sidebar.html" %}
            </div>
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
{% include "basics/topnav.html" %}
              </ul>
            </nav>
          </div>
        </div>
        <div class="right_col" role="main">
          <div class="">
{% block content %}
{% endblock %}
          </div>
        </div>
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
    <!-- jQuery -->
    <script data-rocketsrc="/cdn/vendor/jquery/dist/jquery.min.js" type="text/rocketscript"></script>
    <!-- Bootstrap -->
    <script data-rocketsrc="/cdn/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/rocketscript"></script>
    <!-- FastClick -->
    <script data-rocketsrc="/cdn/vendor/fastclick/lib/fastclick.js" type="text/rocketscript"></script>
    <!-- NProgress -->
    <script data-rocketsrc="/cdn/vendor/nprogress/nprogress.js" type="text/rocketscript"></script>
    <!-- Chart.js -->
    <script data-rocketsrc="/cdn/vendor/Chart.js/dist/Chart.min.js" type="text/rocketscript"></script>
    <!-- jQuery Sparklines -->
    <script data-rocketsrc="/cdn/vendor/jquery-sparkline/dist/jquery.sparkline.min.js" type="text/rocketscript"></script>
{% block scripts %}
{% endblock %}
    <!-- Flot -->
    <script data-rocketsrc="/cdn/vendor/Flot/jquery.flot.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/Flot/jquery.flot.pie.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/Flot/jquery.flot.time.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/Flot/jquery.flot.stack.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/Flot/jquery.flot.resize.js" type="text/rocketscript"></script>
    <!-- Flot plugins -->
    <script data-rocketsrc="/cdn/vendor/flot.orderbars/js/jquery.flot.orderBars.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/flot-spline/js/jquery.flot.spline.min.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/flot.curvedlines/curvedLines.js" type="text/rocketscript"></script>
    <!-- DateJS -->
    <script data-rocketsrc="/cdn/vendor/DateJS/build/date.js" type="text/rocketscript"></script>
    <!-- bootstrap-daterangepicker -->
    <script data-rocketsrc="/cdn/vendor/moment/min/moment.min.js" type="text/rocketscript"></script>
    <script data-rocketsrc="/cdn/vendor/bootstrap-daterangepicker/daterangepicker.js" type="text/rocketscript"></script>
{% block plugins %}
{% endblock %}
    <!-- Custom Theme Scripts -->
    <script data-rocketsrc="/cdn/assets/js/custom.min.js" type="text/rocketscript"></script>
{% block applets %}
    <!-- Google Analytics -->
    <script type="text/rocketscript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-xxxxxxxx-xx', 'auto');
ga('send', 'pageview');
    </script>
{% endblock %}
  </body>
</html>

